.content-editor-toolbar {
  scrollbar-width: none;
  cursor: grab;
}

.content-editor-toolbar::-webkit-scrollbar {
  height: 0 !important;
}

.content-editor-toolbar:active {
  cursor: grabbing;
}

.content-editor-document .content-editor-toolbar,
.content-editor-document .md-editor-toolbar-wrapper {
  position: sticky;
  top: var(--content-editor-toolbar-offset, 0px);
  z-index: 10;
  background: var(--background);
}
